[mysqld]
# Server Identity
server-id               = 3
log_bin                 = /var/log/mysql/mysql-bin.log
binlog_format           = ROW
binlog_row_image        = FULL
expire_logs_days        = 7
sync_binlog             = 1

# Replication
gtid_mode               = ON
enforce_gtid_consistency = ON
log_slave_updates       = ON
binlog_group_commit_sync_delay = 100
binlog_group_commit_sync_no_delay_count = 10

# Read-Write Mode
read_only               = OFF
super_read_only         = OFF

# Performance
innodb_flush_log_at_trx_commit = 1
innodb_support_xa       = ON
innodb_autoinc_lock_mode= 2

# Networking
bind-address            = 0.0.0.0
skip_name_resolve       = ON

# Error Logging
log_error               = /var/log/mysql/mysql-error.log

[mysqld_safe]
syslog                  = 1